<div class="container">
  <h1>Story 10B:</h1>
  <p>As a Librarian I want to update an existing book, so I can correct mistakes that occurred during creation.</p>
  <ul>
    <li>The ISBN should not be modifiable</li>
  </ul>

  <h1>How to test?</h1>
  <p>Used Endpoint: PUT …/books/[ISBN]</p>
  <ul>
    <li *ngIf="role == null">Login with an Librarian account or use the special librarian login on the following link:
      <button routerLink="/login">Login</button>
    </li>
    <li *ngIf="role != null && role != 'librarian'">Because you are logged in with an account, but not with an librarian, you should click following link:
      <button routerLink="/logout">Logout</button>
      <br>Next, you should login with an librarian account.
    </li>
    <li>
      Click on the following link
      <button routerLink="/books">Book overview</button>
      OR press the BOOKS button at the top of your screen.
    </li>
    <li>Here you should click on a books details button.</li>
    <li>Then, you will see the Update button </li>
    <li>If everything works Fine, you should see the updated Book.</li>
  </ul>

  <h4>At this moment, you can only update a book if you are really logged in with username and password</h4>
</div>
