<div class="container">
  <h1>Overdue books</h1>
  <div *ngIf="books.length >= 1" class="row">
    <div class="card col-lg-4 col-md-6 text-center mb-3" *ngFor="let member of books">
      <div *ngFor="let book of member.lendings">
        <p></p>
        <p>Name: {{member.firstName}} {{member.lastName}}</p>
        <p>ISBN: {{book.isbn}}</p>
        <p>Title: {{book.title}}</p>
        <p>Author: {{book.authorFirstName}} {{book.authorLastName}}</p>
        <p>Duedate: {{book.dueDate}}</p>
      </div>
    </div>
    <div class="text-center alert-warning " *ngIf="books.length == 0">No books found.</div>
  </div>
</div>
