<div class="container">
  <h1>Story 20:</h1>
  <p>As a Librarian I want to have multiple copies of a book, so multiple members can borrow it at the same time.</p>
  <ul>
    <li>Make sure a copy of a book is available before lending.</li>
    <li>Make sure you can set the number of copies of a book when creating (or updating) a book.</li>
    <li>The total number of copies should be included when getting a book's details.</li>
  </ul>

  <h1>How to test?</h1>
  <p>Used Endpoint: GET …/books</p>
  <p>This story can be made in multiple ways.</p>
  <p>
    But we want to keep it easy, so in this UI we just made a counter that keeps track of the available book copies.
  </p>
  <p>You can See your copies on the "book detail page"</p>
  <p>the variable for copies: "copies"</p>
</div>
