<div class="container mb-3">
  <h1>Details</h1>
  <div class="row" *ngIf="book$ | async as book">
    <div class="col-4">
      <div class="card row">
        <h2 class="card-header">{{book.title}}</h2>
        <div class="card-body">
          <div>
            <label class="form-label">Written by</label>
            <input class="form-control" value="{{book.author}}" disabled/>
          </div>

          <div *ngIf="authenticationService.isLoggedIn()">
            <div>
              <label for="copies" class="form-label">Copies left</label>
              <input id="copies" class="form-control" value="{{book.copies}}" type="number" disabled/>
            </div>
            <div>
              <label for="arrival" class="form-label">Added on</label>
              <input id="arrival" class="form-control" value="{{book.arrival}}" type="date" disabled/>
            </div>
            <div>
              <label for="warranty" class="form-label">Warranty</label>
              <input id="warranty" class="form-control" value="{{book.price}} euro" type="text" disabled/>
            </div>
            <div>
              <label for="isbn" class="form-label">ISBN</label>
              <input id="isbn" class="form-control" value="{{book.isbn}}" type="text" disabled/>
            </div>
          </div>
        </div>
        <div class="card-footer" *ngIf="authenticationService.isMember()">
          <a class="btn btn-outline-secondary" *ngIf="book.copies != 0; else noBooksAvailable" (click)="lendBook(book)">Lend
            Book</a>
          <p *ngIf="message">{{message}}</p>
          <ng-template #noBooksAvailable>
            No copies left/Book is out of stock, wait until there is a copie available.
          </ng-template>
        </div>
        <div class="card-footer" *ngIf="authenticationService.isLibrarian()">
          <div class="row mt-3 mb-1">
            <a class="col-6 btn btn-outline-secondary" routerLink="update">Update</a>
            <a class="col-6 btn btn-outline-secondary" routerLink="delete">Delete</a>
          </div>
          <div class="row">
            <a class="col-12 btn btn-outline-secondary" routerLink="history">History</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" *ngIf="book.lenderNames.length !== 0 && (authenticationService.isLoggedIn())">
      <div style="padding-right: 2em; padding-bottom: 2em;">
        <div class="card">
          <h3 class="card-header card-title">Book is borrowed by</h3>
          <div class="card-body">
            <ul>
              <li *ngFor="let name of book.lenderNames">{{name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div>
        <img src="{{book.image}}" alt="{{book.title}}'s cover image">
      </div>
    </div>
  </div>
</div>
