<div class="container">
  <h1>How to test Story 15:</h1>
  <ul>
    <li>
      Go to the Book page. (following link)
      <button routerLink="/books">Book Page</button>
    </li>
    <li>Click on the "Details" button from any book.</li>
    <li>If everything works Fine, you should see the information from the chosen book.</li>
  </ul>

  <h2>If something isn't there, possible solutions.</h2>
  <ul>
    <li>
      <p>One of the variables isn't displayed?</p>
      <p>You didn't implement this yet</p>
      <p>OR</p>
      <p>the used names for the variables aren't: (check this link for the details of story 2:
        <button routerLink="/story2">Story2</button>...) </p>
      <ul>
        <li>For all the names: the list is called "lenderNames"</li>
      </ul>
    </li>
  </ul>
</div>
