<div class="changeTheDate ">
  <p class="text-center m-0">This form is made for analysts only.</p>
  <p class="text-center m-0"> (Only passed days are possible.)</p>
  <form class="card" [formGroup]="dateForm" (ngSubmit)="changeDate(dateForm.value)">
    <div>
      <label class="card-header form-control fw-bold" for="changeDate">
        Change the "current" date ({{getDate}}) to:
      </label>
      <input type="date" id="changeDate" formControlName="changeDate" name="changeDate">
    </div>
    <div>
      <button type="submit" class="btn btn-secondary">Save Date</button>
      <a class="btn btn-secondary" (click)="resetDate()">Reset Date</a>
    </div>
  </form>
</div>
