.nav-btn {
  background-color: #C3DB74;
  color: #424348;
  border-color: #30361C;
  margin-bottom: 10px;
}

.nav-btn:hover {
  background-color: #30361C;
  color: white;
}

.header {
  background: linear-gradient(to left, #97AA5A, #30361C);
}
