nav {
  background-color: #97AA5A;
  padding: 5px;
  border-radius: 25px;
}

ul {
  width: 100%;
  padding: 0;
}

li {
  color: #020202;
  width: 100%;
  text-align: center;
  background-color: #97AA5A;
  border-radius: 25px;
}

a {
  color: #020202;
  background-color: white;
  border: 2px solid #97AA5A;
  border-radius: 25px;
}

li:hover, a:hover {
  color: white;
  background-color: #97AA5A;
  width: 100%;
}

