<div class="container">
  <h1 *ngIf="member != null">Welcome {{member.firstname}} {{member.lastname}} to the DigiBooky home page.</h1>
  <h1 *ngIf="member == null">This is the DigiBooky Home page.</h1>
  <p>This UI is made to help you with your own Digibooky back end, with the help of this page you can check that your
    story does/doesn't work.</p>
  <h2>Stories</h2>
  <div class="row row-cols-lg-3">
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story1: Get all books</h3>
      <p>Gives the possibility to get an overview of all the available books.</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story1">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story2: Show detail of book</h3>
      <p>Gives the possibility to get one specific book and get more information about this book.</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story2">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story3: Search a book by ISBN</h3>
      <p>Gives the possibility to filter the books, in order to get only the asked books with a specific ISBN-part</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story3">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story4: Search a book by title</h3>
      <p>Gives the possibility to filter the books, in order to get only the asked books with a specific title-part</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story4">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story5: Search a book by author</h3>
      <p>Gives the possibility to filter the books, in order to get only the asked books with a specific author-part</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story5">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story6A: Register as member</h3>
      <p>Gives the possibility to create a new member.</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story6A">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story7: View members as Admin</h3>
      <p>Gives the Admin the possibility to view all the existing members.</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story7">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story8: Register Admin</h3>
      <p>Gives the possibility to create new Admins.</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story8">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story9: Register Librarian</h3>
      <p>Gives the possibility to create new Librarians.</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story9">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story10A: Register a new book</h3>
      <p>Gives the possibility to create a new book (By a Librarian).</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story10A">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story11: Lending a book</h3>
      <p>Gives the possibility to a member to borrow a book for a specific duration (3 weeks).</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story11">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story12: Return a book</h3>
      <p>Gives the possibility to return a members borrowed book.</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story12">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story13: Lent books</h3>
      <p>Gives the librarian the possibility to get an overview of all the borrowed books.</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story12">How to check?</button>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 card" style="margin-bottom: 2em">
      <h3 class="card-title">Story14: Overdue books</h3>
      <p>Gives the librarian the possibility to get an overview of all the books that are overdue.</p>
      <div class="align-self-center">
        <button style="width: 15em" routerLink="story12">How to check?</button>
      </div>
    </div>
  </div>
</div>

