<div class="container">
  <h1 *ngIf="member != null">Welcome {{member.firstname}} {{member.lastname}} to DigiBooky</h1>
  <h1 *ngIf="librarian != null">Welcome {{librarian.firstname}} {{librarian.lastname}} to DigiBooky</h1>
  <h1 *ngIf="admin != null">Welcome {{admin.firstname}} {{admin.lastname}} to DigiBooky</h1>
  <h1 *ngIf="member == null && librarian == null && admin == null && role == null">This is DigiBooky</h1>
  <h1 *ngIf="member == null && librarian == null && admin == null && role != null">This is DigiBooky, viewed by the
    role: {{role}}</h1>
  <p class="alert-warning" *ngIf="member == null && librarian == null && admin == null && role == 'member'">To access
    the Profile page, you need to be logged in</p>
  <p>This UI is made to help you with your own Digibooky back end, with the help of this page you can check that your
    story does/doesn't work.</p>
  <div class="changeTheDate ">
    <p class="text-center m-0">This form is made for analysts only.</p>
    <p class="text-center m-0"> (Only passed days are possible.)</p>
    <form class="card" [formGroup]="dateForm" (ngSubmit)="changeDate(dateForm.value)">
      <div>
        <label class="card-header form-control fw-bold" for="changeDate">
          Change the "current" date ({{getDate}}) to:
        </label>
        <input type="date" id="changeDate" formControlName="changeDate" name="changeDate">
      </div>
      <div>
      <button type="submit" class="btn btn-secondary">Save Date</button>
      <a class="btn btn-secondary" (click)="resetDate()">Reset Date</a>
      </div>
    </form>
  </div>

  <h2>Stories</h2>
  <div class="row row-cols-lg-3">
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story1: Get all books</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to get an overview of all the available
          books.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story1">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story2: Show detail of book</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to get one specific book and get more
          information about this book.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story2">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story3: Search a book by ISBN</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to filter the books, in order to get only
          the asked books with a specific ISBN-part</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story3">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story4: Search a book by title</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to filter the books, in order to get only
          the asked books with a specific title-part</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story4">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story5: Search a book by author</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to filter the books, in order to get only
          the asked books with a specific author-part</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story5">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story6A: Register as member</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to create a new member.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story6A">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story7: View members as Admin</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the Admin the possibility to view all the existing
          members.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story7">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story8: Register Admin</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to create new Admins.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story8">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story9: Register Librarian</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to create new Librarians.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story9">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story10A: Register a new book</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to create a new book (By a Librarian).</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story10A">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story10B: Update a book</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to update a book (By a Librarian).</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story10B">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story10C: Delete a book</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to delete a book (By a Librarian).</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story10C">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story11: Lending a book</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to a member to borrow a book for a specific
          duration (3 weeks).</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story11">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story12: Return a book</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the possibility to return a members borrowed book.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story12">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story13: Lent books</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the librarian the possibility to get an overview of all the
          books that a member has borrowed.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story13">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story14: Overdue books</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the librarian the possibility to get an overview of all the
          books that are overdue.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story14">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story15: Enhance book details</h3>
        <p style="margin-bottom: 0" class="card-body">Story2: Show details of book 2.0 with extra info.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story15">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story16: ISBN validation</h3>
        <p style="margin-bottom: 0" class="card-body">When the ISBN format is wrong, there should be an ERROR message
          thrown.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story16">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story17: Overdue Fines</h3>
        <p style="margin-bottom: 0" class="card-body">When a book is returned too late, you should receive a fine.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story17">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story18: Enhance members overview with fines</h3>
        <p style="margin-bottom: 0" class="card-body">There should be a possibility to see the fines in the members
          overview page.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story18">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story19: Damage Fines</h3>
        <p style="margin-bottom: 0" class="card-body">Get a fine, when you return your book damaged.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story19">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story20: Multiple copies of a book</h3>
        <p style="margin-bottom: 0" class="card-body">Gives multiple members the possibility to borrow the same book at
          the same time.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story20">How to check?</button>
        </div>
      </div>
    </div>
    <div style="padding: 0" class="col-sm-12 col-md-6">
      <div class="card" style="padding: 0; margin: 10px">
        <h3 class="card-title card-header">Story21: Lending history</h3>
        <p style="margin-bottom: 0" class="card-body">Gives the Librarians the possibility to get an overview of who has
          borrowed a specific book from -> until.</p>
        <div style="margin-bottom: 15px" class="align-self-center">
          <button style="width: 15em" routerLink="story21">How to check?</button>
        </div>
      </div>
    </div>
  </div>
</div>

