button {
  color: #020202;
  background-color: white;
  border: 2px solid #97AA5A;
  border-radius: 25px;
  width: 10em;
}

button:hover {
  color: white;
  background-color: #97AA5A;
}

a {
  color: #020202;
  background-color: white;
  border: 2px solid #97AA5A;
  border-radius: 25px;
  width: 10em;
}

a:hover {
  color: white;
  background-color: #97AA5A;
}

img {
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
}
