<div class="container">
  <h1>Books</h1>
  <a class="btn btn-outline-secondary" *ngIf="role == 'librarian'" href="/books/add">Add Book</a>
  <form style="padding-bottom: 15px" class="row row-cols-md-4 row-cols-sm-1" [formGroup]="searchForm"
        (ngSubmit)="onSubmit(searchForm.value)">
    <div class="row-cols-1">
      <label for="isbn">
        ISBN
      </label>
      <input placeholder="ISBN number" id="isbn" type="text" formControlName="isbn">
    </div>
    <div class="row-cols-1">
      <label for="title">
        Title
      </label>
      <input placeholder="Title book" id="title" type="text" formControlName="title">
    </div>
    <div class="row-cols-1">
      <label for="author">
        Author
      </label>
      <input placeholder="Author name" id="author" type="text" formControlName="author">
    </div>
    <button class="align-self-end" type="submit">Search</button>
  </form>
  <div class="row">
    <div class="col-lg-4 col-md-6 text-center mb-3" *ngFor="let book of books">
      <div class="card">
        <div class="row">
          <div class="col-md-4">
            <img src="" alt="Book image">
            <p class="card-body">{{book.isbn}}</p>
          </div>
          <div class="col-md-8 card-body">
            <h3>{{book.title}}</h3>
            <p>{{book.authorFirstname}} {{book.authorLastname}}</p>
            <a class="btn btn-outline-secondary" href="/books/{{book.isbn}}">Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center alert-warning " *ngIf="books.length == 0">No books found.</div>
  </div>
</div>
