<router-outlet>
  <p>Welcome screen With information on HOW to use the UI</p>
  <h1>Welcome on the DigiBooky Home page.</h1>
  <p>This UI is made to make your life more easy, with the help of this page you can check or your story does/doesn't work.</p>
  <h2>Stories</h2>
  <div>
    <h3>Story1:</h3>
    <h4>description: Get all books</h4>
    <p>Gives the possibility to get an overview of all the available books.</p>
    <button routerLink="story1">How to check?</button>
  </div>
  <div>
    <h3>Story2:</h3>
    <h4>description: Show detail of book</h4>
    <p>Gives the possibility to get one specific book and get more information about this book.</p>
    <button routerLink="story2">How to check?</button>
  </div>
  <div>
    <h3>Story6A:</h3>
    <h4>description: Register as member</h4>
    <p>Gives the possibility to create a new member.</p>
    <button routerLink="story6A">How to check?</button>
  </div>
  <div>
    <h3>Story11:</h3>
    <h4>description: Lending a book</h4>
    <p>Gives the possibility to a member to borrow a book for a specific duration (3 weeks).</p>
    <button routerLink="story11">How to check?</button>
  </div>
</router-outlet>

