<div class="container">
  <h1>Members</h1>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3" *ngFor="let member of members">
      <div class="card">
        <div class="card-header">
          <h3>{{member.firstname}} {{member.lastname}}</h3>
        </div>
        <div class="card-body">
          <div>
            <label class="form-label">ID</label>
            <input class="form-control" value="{{member.id}}" disabled/>
          </div>
          <div>
            <label class="form-label">E-mail</label>
            <input class="form-control" value="{{member.email}}"  disabled/>
          </div>
          <div>
            <label class="form-label">Address</label>
            <textarea class="form-control" rows="2" disabled>{{member.street}} {{member.streetnumber}}&#013;{{member.postcode}} {{member.city}}</textarea>
          </div>
          <div *ngIf="member.fines.length > 0">
              <label class="form-label">Fine amount</label>
              <input class="form-control" value="€ {{member.totalPrice}}"  disabled/>
          </div>
        </div>
        <div style="margin-bottom: 10px">
          <a class="btn btn-secondary" *ngIf="viewedByLibrarian()" routerLink="/memberOverview/{{member.id}}">
            View Profile
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
