<div class="container">
  <h1>Members</h1>
  <div class="row">
    <div class="card col-md-4 col-lg-3 text-center mb-3" *ngFor="let member of members">
      <div class="row row-cols-2">
        <p style="text-align: left" class="col-4">ID: </p>
        <p style="text-align: left" class="col-8">{{member.id}}</p>
      </div>
      <div class="row row-cols-2">
        <p style="text-align: left" class="col-4">E-mail: </p>
        <p style="text-align: left" class="col-8">{{member.email}}</p>
      </div>
      <div class="row row-cols-2">
        <p style="text-align: left" class="col-4">Name: </p>
        <p style="text-align: left" class="col-8">{{member.firstName}} {{member.lastName}}</p>
      </div>
      <div class="row row-cols-2">
        <p style="text-align: left" class="col-4">adress: </p>
        <p style="text-align: left" class="col-8">{{member.street}} {{member.streetnumber}} <br> {{member.postcode}} {{member.city}}</p>
      </div>
      <a *ngIf="viewedByLibrarian()" href="/memberOverview/{{member.id}}">View Profile</a>
    </div>
  </div>
</div>
