<div class="container">
  <h1>Admins</h1>
  <a class="btn btn-outline-secondary" routerLink="add">Add Admin</a>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3" *ngFor="let admin of admins">
      <div class="card">
        <h5 class="card-header">{{admin.firstname}} {{admin.lastname}}</h5>
        <div class="card-body">
          <div>
            <label class="form-label">ID</label>
            <input class="form-control" value="{{admin.id}}" disabled/>
          </div>
          <div>
            <label class="form-label">E-mail</label>
            <input class="form-control" value="{{admin.email}}" disabled/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
