a {
  color: #020202;
  background-color: white;
  border: 2px solid #97AA5A;
  border-radius: 25px;
  width: 10em;
  margin-bottom: 10px;
}

a:hover {
  color: white;
  background-color: #97AA5A;
}

.card {
  background-color: #AABF65;
}

.form-control {
  border-color: #4F592F;
}

.form-control:disabled {
  background-color: #C1D973;
}

.btn-outline-secondary {
  color: #020202;
  background-color: #C1D973;
  border: 1px solid #4F592F;
}

.btn-outline-secondary:hover {
  color: white;
  background-color: #30361C;
}
