<div class="container">
  <div>
    <h1>Return Book</h1>
    <div class="row row-cols-sm-1 row-cols-lg-3">
      <div class="col-lg-3">
        <div class="row row-cols-1">
          <img src="" alt="hier komt een afbeelding">
          <a style="width: auto" class="btn btn-secondary" href="/members/{{member.id}}">Back</a>
        </div>
      </div>
      <div>
        <div class="col-lg-12" *ngFor="let bo of member.lendings">
          <div class="card" *ngIf="bo.isbn == isbn">
            <p class="card-header">Title: {{bo.title}}</p>
            <div class="card-body">
              <p *ngIf="bo.author != null">Author: {{bo.author}}</p>
              <p *ngIf="bo.author == null">Author: {{bo.authorFirstname}} {{bo.authorLastname}}</p>
              <p>DueDate: {{bo.dueDate}}</p>
              <form [formGroup]="returnForm">
                <div>
                  <label for="damaged">Damaged•</label>
                  <input type="checkbox" id="damaged" name="damaged" (change)="setDamaged()">
                </div>
              </form>
              <a *ngIf="!damaged" style="margin-top: 5px" class="btn btn-outline-secondary"
                 href="/members/{{member.id}}"
                 (click)="returnBook()">Return {{bo.title}}</a>
              <a *ngIf="damaged" style="margin-top: 5px" class="btn btn-outline-secondary" href="/members/{{member.id}}"
                 (click)="returnBookBroken()">Return {{bo.title}}, broken</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card col-lg-5">
        Here will be some Explenation about the Damage Fine that you can get. And also about the Overdue Fine. <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet blanditiis debitis dicta, distinctio
        error
        eum iste quisquam reiciendis totam vel veniam veritatis! Accusamus aspernatur consequatur deserunt eaque eius
        excepturi explicabo hic id impedit laboriosam natus, nihil, nobis obcaecati porro quidem quisquam, repellendus
        suscipit temporibus vero voluptatibus. Cumque doloremque et expedita omnis, repellat reprehenderit voluptate!
        Aut
        culpa excepturi facere in iste libero maxime modi, molestias natus, quas quibusdam rem repellendus saepe sequi
        similique veniam voluptatibus. Dolores facere perspiciatis rem. Ad, cum est et, excepturi ipsa laboriosam,
        molestiae necessitatibus nemo nisi numquam odit optio quidem sunt. At corporis laboriosam quod sapiente.
      </div>
    </div>
  </div>
</div>
