<main class="container mb-2">
  <div>
    <h1>Profile</h1>
  </div>
  <div *ngIf="member$ | async as member; else notLoadedYet" class="row row-cols-md-2 row-cols-sm-1">
    <div>
      <h2>Information</h2>
      <div class="card">
        <h5 class="card-header">{{authenticationService.fullname}}</h5>
        <div class="card-body">
          <div>
            <label for="inss" class="form-label">INSS</label>
            <input id="inss" class="form-control disabled" [value]="member.inss" disabled/>
          </div>
          <div>
            <label for="email" class="form-label">E-mail</label>
            <input id="email" class="form-control disabled" [value]="member.email" disabled/>
          </div>
          <div>
            <label for="address" class="form-label">Address</label>
            <input id="address" class="form-control disabled"
                   value="{{member.street}} {{member.streetnumber}}, {{member.postcode}} {{member.city}}" disabled/>
          </div>
          <div class="mt-2" *ngIf="member.fines.length > 0">
            <div>
              <h5 class="form-label">Fines</h5>
              <table>
                <thead>
                <th>Book title</th>
                <th>Amount</th>
                <th>Type</th>
                </thead>
                <tbody>
                <tr *ngFor="let fine of member.fines">
                  <td><input class="form-control disabled" type="text" value="{{fine.bookTitle}}" disabled/></td>
                  <td><input class="form-control disabled" type="text" value="{{fine.amount}} eur" disabled/></td>
                  <td><input class="form-control disabled" type="text" value="{{fine.fineType.toLowerCase()}}" disabled/></td>
                </tr>
                <tr>
                  <div class="input-group mt-1">
                    <label for="totalprice" class="input-group-text">Total price</label>
                    <input id="totalprice" class="form-control col-2 disabled" type="text"
                           value="{{member.totalPrice}} eur" disabled/>
                  </div>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="member.lendings.length > 0">
      <h2>Current Lent Books</h2>
      <div *ngFor="let lending of member.lendings" class="card mb-1">
        <h5 class="card-header">{{lending.book.title}}</h5>
        <div class="card-body">
          <div>
            <label class="form-label">Author</label>
            <input class="form-control" value="{{lending.book.authorFirstname}} {{lending.book.authorLastname}}"
                   disabled/>
          </div>
          <div>
            <label class="form-label">ISBN</label>
            <input class="form-control" value="{{lending.book.isbn}}" disabled/>
          </div>
          <div>
            <label class="form-label">Due date</label>
            <input class="form-control" value="{{lending.dueDate}}" disabled/>
          </div>
        </div>
        <div *ngIf="authenticationService.isMember()" class="card-footer">
          <a class="btn btn-outline-secondary" *ngIf="authenticationService.isMember()" routerLink="/lendings/{{lending.id}}/return">Return</a>
        </div>
      </div>
    </div>
    <div class="alert-warning" *ngIf="authenticationService.isLibrarian() && member.lendings.length === 0">
      This member has no books in his/her possession
    </div>
  </div>
  <ng-template #notLoadedYet>
    <p>Still loading the profile</p>
  </ng-template>
</main>
