<div class="container">
  <h1>How to test Story 19:</h1>
  <ul>
    <li>Add a couple of members to your list of members and give the members some fines.</li>
    <li *ngIf="role == null">Login with a member account on the following link:
      <button routerLink="/login">Login</button>
    </li>
    <li *ngIf="role != null && (role != 'member')">Because you are logged in with an account, but not with a member, you should click following link:
      <button routerLink="/logout">Logout</button>
      <br>Next, you should login with a member account.
    </li>
    <li>
      Click on the following link
      <button routerLink="/books">books</button>
      or on the "BOOKS" link at the top of your screen, this will send you to the Books Overview Page.
    </li>
    <li>Borrow at least ONE book with this member.</li>
    <li>Go to the members Profile with the button on the top of your screen.</li>
    <li>Here you click on the "Return" button to return the borrowed book.</li>
    <li>Now you landed on a page, on this page you check on the broken checkbox and then on the "RETURN [BOOKNAME], BROKEN" button.</li>
    <li>If everything works, you should see a fine appear in this members profile.</li>
  </ul>

</div>
