<main class="container">
  <h1>Login</h1>
  <div class="row mb-2">
    <form class="col-6" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div>
        <label for="email" class="form-label">
          E-mail
        </label>
        <input id="email" type="text" placeholder="email" formControlName="email"
               class="inputTextfield form-control col-auto"
               pattern="[0-9]*">
      </div>
      <div>
        <label for="password" class="form-label">
          Password
        </label>
        <input id="password" type="password" placeholder="password" formControlName="password"
               class="inputTextfield form-control col-auto">
      </div>

      <button class="btn btn-outline-secondary mt-1" type="submit">Login</button>
    </form>

    <div class="col-6">
      <button class="btn btn-outline-secondary" (click)="toggle()">Test profiles</button>
      <form *ngIf="showTestProfiles" [formGroup]="roleForm" (ngSubmit)="onSubmit2(roleForm.value)">
        <div class="form-check">
          <input id="member" class="form-check-input" type="radio" name="role" formControlName="role" value="member">
          <label for="member" class="form-check-label">Member</label> <br>
        </div>
        <div class="form-check">
          <input id="librarian" class="form-check-input" type="radio" name="role" formControlName="role"
                 value="librarian">
          <label for="librarian" class="form-check-label">Librarian</label> <br>
        </div>
        <div class="form-check">
          <input id="admin" class="form-check-input" type="radio" name="role" formControlName="role" value="admin">
          <label for="admin" class="form-check-label">Admin</label> <br>
        </div>
        <button class="btn btn-outline-secondary mt-1" type="submit">Use credentials</button>
      </form>
    </div>
  </div>
  <div *ngIf="error" class="row">
    <div class="col-auto">
      <p class="alert alert-message ps-1">{{error}}</p>
    </div>
  </div>
</main>
