<div class="container">
  <h1>History</h1>
  <div *ngIf="histories$ | async as histories">
    <div *ngIf="histories.length !== 0; else noHistory">
      <div class="row row-cols-2">
        <div>
          <div class="card">
            <h3 class="card-header">{{histories[0].title}}</h3>
            <div class="card-body">
              <p>{{histories[0].authorFirstname}} {{histories[0].authorLastname}}</p>
              <p>{{histories[0].isbn}}</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2>List of lenders</h2>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
          <div *ngFor="let history of histories">
            <div class="card">
              <h5 class="card-header">{{history.lenderFirstname}} {{history.lenderLastname}}</h5>
              <div class="card-body">
                <p>From: {{history.start}}</p>
                <p>Until: {{history.returnDate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noHistory>
      <p class="text-center alert-warning ">
        There is no history for this book.
      </p>
    </ng-template>
  </div>
</div>

