button {
  color: #020202;
  background-color: #C3DB74;
  border: 1px solid #30361C;
  border-radius: 25px;
  width: 10em;
}

button:hover {
  color: white;
  background-color: #30361C;
}

a {
  color: #020202;
  background-color: white;
  border: 2px solid #97AA5A;
  border-radius: 25px;
  width: 10em;
}

a:hover {
  color: white;
  background-color: #97AA5A;
}

.inputTextfield {
  width: 30em;
  margin-bottom: 10px;
  background-color: #C3DB74;
  border-color: #30361C;
}

label {
  margin-bottom: 5px;
}

input {
  margin-right: 10px;
}

.alert-message {
  color: #020202;
  background-color: #C3DB74;
  border-color: #30361C;
}
