<div class="container mb-3">
  <h1>Update {{bookForm.value.title}}</h1>
  <h2>by {{bookForm.value.authorFirstname}} {{bookForm.value.authorLastname}}</h2>
  <div class="alert-danger" style="padding:1em; margin-bottom: 0" *ngIf="errors.length != 0">
    <div *ngFor="let error of errors">
      <p style="margin: 0">{{error}}</p>
    </div>
  </div>
  <div class="col-4">
    <form class="card row" [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
      <div class="card-body">
        <div>
          <label class="form-label">Title</label>
          <input class="form-control" formControlName="title"/>
        </div>

        <div>
          <label class="form-label">Author firstname</label>
          <input class="form-control" formControlName="authorFirstname"/>
        </div>

        <div>
          <label class="form-label">Author lastname</label>
          <input class="form-control" formControlName="authorLastname"/>
        </div>

        <div>
          <label for="copies" class="form-label">Copies left</label>
          <input id="copies" class="form-control" value="{{bookForm.value.copies}}" type="number" disabled/>
        </div>
        <div>
          <label for="arrival" class="form-label">Added on</label>
          <input id="arrival" class="form-control" formControlName="arrival" type="date"/>
        </div>
        <div>
          <label for="warranty" class="form-label">Price</label>
          <input id="warranty" class="form-control" formControlName="price" type="text"/>
        </div>
        <div>
          <label for="isbn" class="form-label">ISBN</label>
          <input id="isbn" class="form-control" value="{{bookForm.value.isbn}}" type="text" disabled/>
        </div>
        <div>
          <label for="imageUrl" class="form-label">Image Url</label>
          <input id="imageUrl" class="form-control" formControlName="image" type="text"/>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-secondary" type="submit">Save book</button>
        <a class="float-end btn btn-outline-secondary" routerLink="/books/{{bookForm.value.isbn}}">Back</a>
      </div>
    </form>
  </div>
</div>
