<div class="container">
  <h1>Update {{book.title}}</h1>
  <h2>by {{book.authorFirstname}} {{book.authorLastname}}</h2>
  <div class="alert-danger" style="padding:1em; margin-bottom: 0" *ngIf="errors.length != 0">
    <div *ngFor="let error of errors">
      <p style="margin: 0">{{error}}</p>
    </div>
  </div>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
    <div>
      <label class="col-form-label" for="isbn">
        ISBN:
      </label>
      <input readonly class="form-control col-auto" placeholder="ISBN" id="isbn" type="text" value="{{book.isbn}}"
             formControlName="isbn">
    </div>
    <div>
      <label class="col-form-label" for="title">
        Title:
      </label>
      <input class="form-control col-auto" placeholder="Title" id="title" type="text" value="{{book.title}}"
             formControlName="title">
    </div>
    <div>
      <label class="col-form-label" for="authorFirstname">
        Author First name:
      </label>
      <input class="form-control col-auto" placeholder="Author First Name" id="authorFirstname" type="text"
             value="{{book.authorFirstname}}"
             formControlName="authorFirstname">
    </div>
    <div>
      <label class="col-form-label" for="authorLastname">
        Author Last name:
      </label>
      <input class="form-control col-auto" placeholder="Author Last Name" id="authorLastname" type="text"
             value="{{book.authorLastname}}" formControlName="authorLastname">
    </div>
    <div>
      <label class="col-form-label" for="price">
        Price:
      </label>
      <input class="form-control col-auto" placeholder="Price" id="price" type="text" value="{{book.price}}"
             formControlName="price">
    </div>
    <div>
      <label class="col-form-label" for="copies">
        Copies:
      </label>
      <input class="form-control col-auto" placeholder="Copies" id="copies" type="text" value="{{book.copies}}"
             formControlName="copies">
    </div>
    <div>
      <label class="col-form-label" for="url">
        Image URL:
      </label>
      <input class="form-control col-auto" placeholder="URL" id="url" type="text" value="{{book.image}}"
             formControlName="url">
    </div>
    <div style="padding-bottom: 5px">
      <button style="margin-top: 10px; margin-right: 1em" class="btn btn-secondary" type="submit">Save book</button>
      <a style="float: right; margin-top: 10px" class="btn btn-secondary" routerLink="/books/{{book.isbn}}">Back</a>
    </div>
  </form>
</div>
