<div class="container">
  <h1>How to test Story 6A:</h1>
<ul>
  <li>
    Click on the following link
    <button routerLink="/members">Register</button>
    or on the "REGISTER" link at the top of your screen, this will send you to the Register page.
  </li>
  <li>Fill in all the credentials to make a new member.</li>
  <li>If everything works Fine, you should be logged in as the newly created member.</li>
</ul>

<h2>If you try to register and something went wrong, here are possible solutions.</h2>

<p>The following fields Must be filled in: </p>
<ul>
  <li>the INSS</li>
  <li>The Last name</li>
  <li>The E-mail address</li>
  <li>The Password</li>
  <li>The City</li>
</ul>
<p>The following needs to be unique: </p>
<ul>
  <li>the INSS</li>
  <li>the E-mail address</li>
</ul>
</div>
