<div class="container">
  <h1>Story 1: Get all books</h1>
  <p>As a user I want to get all books registered in the system, so I can see which books are offered by Digibooky.</p>
  <ul><li>These books should contain an ISBN, title and the author's last and first name</li></ul>

  <h1>How to test?</h1>
  <h4>Used endpoint: GET …/books</h4>
  <ul>
    <li>Add a book to your list of books.</li>
    <li>
      Click on the following link
      <button routerLink="/books">Books</button>
      or on the "BOOKS" link at the top of your screen, this will send you to the Book Overview Page.
    </li>
    <li>If everything works Fine, you should see a list of your books.</li>
  </ul>

  <h2>If something isn't there, possible solutions.</h2>
  <ul>
    <li>
      <p>One of you variables isn't displayed?</p>
      <p>the used names for the variables aren't: </p>
      <ul>
        <li>For Title: "title"</li>
        <li>For author (first and last) name: "author" OR "authorFirstname" & "authorLastname"</li>
        <li>For ISBN: "isbn"</li>
        <li>For image: "image"</li>
      </ul>
    </li>
  </ul>
</div>
