<div class="container">
  <div>
    <h1>Profile</h1>
  </div>
  <div class="row row-cols-md-2 row-cols-sm-1">
    <div>
      <h2>Information</h2>
      <div class="card">
        <p class="card-header">Name: {{member.firstname}} {{member.lastname}}</p>
        <div class="card-body">
          <p *ngIf="authenticationService.isMember()">INSS: {{member.inss}}</p>
          <p>E-mail: {{member.email}}</p>
          <p>Address: {{member.street}} {{member.streetnumber}}, {{member.postcode}} {{member.city}}</p>
          <p *ngIf="member.fines != null">Fines: € {{member.totalPrice}} -> #{{member.fines}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="member.lendings.length > 0">
      <h2>Current Lent Books</h2>
      <div *ngFor="let book of member.lendings ">
        <div style="margin-bottom: 1em" class="card">
          <p class="card-title card-header">Title: {{book.title}}</p>
          <div class="card-body">
            <p>Author: {{book.authorFirstname}} {{book.authorLastname}}</p>
            <p>ISBN: {{book.isbn}}</p>
          </div>
          <p *ngIf="authenticationService.isMember()" style="margin-bottom: 0; child-align: middle" class="card-footer">
            <a class="btn btn-secondary" *ngIf="authenticationService.isMember()"
               routerLink="/books/{{member.id}}/{{book.lendingId}}/return">Return</a>
          </p>
        </div>
      </div>
    </div>
    <div class="alert-warning" *ngIf="authenticationService.isLibrarian() && member.lendings.length === 0">
      This member has no books in his/her possession
    </div>
  </div>
</div>
