<div class="container">
  <h1>How to test Story 3:</h1>
<ul>
  <li>Add a couple of books to your list of books.</li>
  <li>
    Click on the following link
    <button routerLink="/books">Books</button>
    or on the "BOOKS" link at the top of your screen, this will send you to the Book Overview Page.
  </li>
  <li>Here you can fill in the part of your ISBN that you are looking for. The ISBN should only match just a part of the
    ISBN and not the whole ISBN.
  </li>
  <li>If everything works Fine, you should see a list of your books with the asked ISBN number.</li>
</ul>

<h2>If something went wrong, possible solutions.</h2>
<ul>
  <li>
    <p>Make sure that you check the ISBN correctly... Did you also think about the "-" character?</p>
  </li>
</ul>
</div>
