<div class="container">
  <h1>Story 3: Search a book by ISBN</h1>
  <p>As a user I want to search for a book by entering a part of the ISBN, so I can efficiently find a specific
    book.</p>
  <ul>
    <li>
      <p>I should be able to enter wildcards if I don't know the complete ISBN.</p>
      <ul>
        <li>
          <p>Hint: use regex for the wildcards</p>
        </li>
      </ul>
    </li>
  </ul>

  <h1>How to test?</h1>
  <h4>Used endpoint: GET …/books?isbn=…</h4>
  <ul>
    <li>Add a couple of books to your list of books.</li>
    <li>
      Click on the following link
      <button routerLink="/books">Books</button>
      or on the "BOOKS" link at the top of your screen, this will send you to the Book Overview Page.
    </li>
    <li>Here you can fill in the part of your ISBN that you are looking for. The ISBN should only match just a part of
      the
      ISBN and not the whole ISBN.
    </li>
    <li>If everything works Fine, you should see a list of your books with the asked ISBN number.</li>
  </ul>

  <h2>If something went wrong, possible solutions.</h2>
  <ul>
    <li>
      <p>Make sure that you check the ISBN correctly... Did you also think about the "-" character?</p>
    </li>
  </ul>
</div>
