<div class="container">
  <h1>Story 4: Search a book by title</h1>
  <p>
    As a user I want to search for a book by entering a part of the title, so I can efficiently find a specific book.
  </p>
  <ul>
    <li>
      I should be able to enter wildcards if I don't know the complete title.
    </li>
  </ul>

  <h1>How to test?</h1>
  <h4>Used endpoint: GET …/books?title=…</h4>
  <ul>
    <li>Add a couple of books to your list of books.</li>
    <li>
      Click on the following link
      <button routerLink="/books">Books</button>
      or on the "BOOKS" link at the top of your screen, this will send you to the Book Overview Page.
    </li>
    <li>
      Here you can fill in the part of your title that you are looking for. The title should only match just a part of
      the title and not the whole title.
    </li>
    <li>If everything works Fine, you should see a list of your books with the asked title.</li>
  </ul>

  <h2>If something went wrong, possible solutions.</h2>
  <ul>
    <li>
      <p>Make sure that you check the title correctly.</p>
    </li>
  </ul>
</div>
