<div class="container">
  <h1>Librarians</h1>
  <a class="btn btn-outline-secondary mb-3" routerLink="add">Add Librarian</a>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3" *ngFor="let librarian of librarians">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{librarian.firstname}} {{librarian.lastname}}</h5>
        </div>
        <div class="card-body">
          <div>
            <label class="form-label">ID</label>
            <input class="form-control" value="{{librarian.id}}" disabled/>
          </div>
          <div>
            <label class="form-label">E-mail</label>
            <input class="form-control" value="{{librarian.email}}" disabled/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
