<div class="container">
  <h1>Story 9:</h1>
  <p>As an Admin user I want to register a new Librarian user, so I can have users with Moderator access.</p>
  <ul>
    <li>A Librarian user contains the same information as an Admin user</li>
  </ul>

  <h1>How to test?</h1>
  <p>Used Endpoint: POST …/librarians</p>
  <ul>
    <li *ngIf="role == null">Login with an admin account or use the special admin login on the following link:
      <button routerLink="/login">Login</button>
    </li>
    <li *ngIf="role != null && role != 'admin'">Because you are logged in with an account, but not with an admin, you
      should click following link:
      <button routerLink="/logout">Logout</button>
      <br>Next, you should login with an admin account.
    </li>
    <li>
      Click on the following link
      <button routerLink="/librarians/add">Add Librarian</button>
      Here you can add an librarian.
    </li>
    <li>If everything works Fine, you should see the new registered librarian.</li>
  </ul>
  <p>every value should be filled in.</p>

  <h4>At this moment, you can only add a librarian if you are really logged in with username and password</h4>
</div>
