<div class="container">
  <h1>Story 7:</h1>
  <p>As an Admin user I want to view all members within the system, so I can keep track of all the members.</p>
  <ul>
    <li>
      An Admin user contains a unique user identification number, last name, first name and email.
    </li>
      <li>One Admin user should exist on startup.</li>
      <li>If any other user tries to view all member within the system, the server should respond with 403 Forbidden and
        a custom message.
        <ul>
          <li>Hint: provide the unique user identification number as a means of authentication and use it to validate
            authorization.
          </li>
        </ul>
      </li>
      <li>The INSS should be excluded from the members when returned (sensitive information)</li>
  </ul>

  <h1>How to test?</h1>
  <h4>Used Endpoint: GET …/members</h4>
  <ul>
    <li>Add a couple of members to your list of members.</li>
    <li *ngIf="role == null">Login with an admin account or use the special admin login on the following link:
      <button routerLink="/login">Login</button>
    </li>
    <li *ngIf="role != null && role != 'admin'">Because you are logged in with an account, but not with an admin, you
      should click following link:
      <button routerLink="/logout">Logout</button>
      <br>Next, you should login with an admin account.
    </li>
    <li>
      Click on the following link
      <button routerLink="/members">members</button>
      or on the "MEMBERS" link at the top of your screen, this will send you to the Member Overview Page.
    </li>
    <li>If everything works Fine, you should see a list of your members.</li>
  </ul>

  <h2>If something isn't there, possible solution.</h2>
  <ul>
    <li>
      <p>One of you variables isn't displayed?</p>
      <p>the used names for the variables aren't: </p>
      <p>Here is a JSON example, that you should give to make the front-end work</p>
      <p>{{begin}}</p>
      <p>"name" = "..."</p>
      <p>"id" = "..."</p>
      <p>"email" = "..."</p>
      <p>"street" = "..."</p>
      <p>"streetnumber" = "..."</p>
      <p>"postcode" = "..."</p>
      <p>"city" = "..."</p>
      <p>{{end}}</p>
      <ul>
        <li>For Name (first and last): "firstname" & "lastname"</li>
        <li>For ID: "id"</li>
        <li>For E-mail: "email"</li>
        <li>For address: "street", "streetnumber", "postcode" and " city"</li>
      </ul>
    </li>
  </ul>
</div>
