<div class="container">
  <h1>Overdue books</h1>
  <div *ngIf="overdueBooks$ | async as overdueBooks; else loading">
    <div class="row" *ngIf="overdueBooks.length  !== 0">
      <div class="col-md-6 col-lg-4" *ngFor="let overdueBook of overdueBooks">
        <div class="card">
          <div class="card-header">
            <p class="nopadding fw-bold">Title: {{overdueBook.book.title}}</p>
          </div>
          <div class="card-body">
            <p>ISBN: {{overdueBook.book.isbn}}</p>
            <p>Author: {{overdueBook.book.authorFirstname}} {{overdueBook.book.authorLastname}}</p>
            <p class="nopadding">Duedate: {{overdueBook.dueDate}}</p>
          </div>
          <div class="card-footer">
            <p class="nopadding">By: {{overdueBook.lender.lenderFirstname}} {{overdueBook.lender.lenderLastname}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="overdueBooks.length == 0">
      <p class="text-center alert-warning ">
        There are no overdue books found.
      </p>
    </div>
  </div>
  <ng-template #loading>
    <p class="text-center alert-warning ">
      Loading
    </p>
  </ng-template>
</div>
