<div class="container mb-3">
  <h1>Overdue books</h1>
  <div *ngIf="overdueBooks$ | async as overdueBooks; else loading">
    <div class="row" *ngIf="overdueBooks.length  !== 0">
      <div class="col-md-6 col-lg-4" *ngFor="let overdueBook of overdueBooks">
        <div class="card">
          <div class="card-header">
            <h5>{{overdueBook.book.title}}</h5>
          </div>
          <div class="card-body">
            <div>
              <label class="form-label">ISBN</label>
              <input class="form-control" value="{{overdueBook.book.isbn}}" disabled/>
            </div>
            <div>
              <label class="form-label">Author</label>
              <input class="form-control" value="{{overdueBook.book.authorFirstname}} {{overdueBook.book.authorLastname}}" disabled/>
            </div>
            <div>
              <label class="form-label">Duedate</label>
              <input class="form-control" value="{{overdueBook.dueDate}}" disabled/>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <input class="text-center form-control" value="{{overdueBook.lender.lenderFirstname}} {{overdueBook.lender.lenderLastname}}" disabled/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="overdueBooks.length == 0">
      <p class="text-center alert-warning ">
        There are no overdue books found.
      </p>
    </div>
  </div>
  <ng-template #loading>
    <p class="text-center alert-warning ">
      Loading
    </p>
  </ng-template>
</div>
