<div class="container">
  <h1>Story 21:</h1>
  <p>As a Librarian I want to be able to get a report on the lending history of a book.</p>
  <ul>
    <li>This report should contain the different periods the book was borrowed and by whom.</li>
    <li>Try to suggest some additional data to your customer that could be useful for inclusion in the report.</li>
  </ul>

  <h1>How to test?</h1>
  <p>Used Endpoint: GET …/books/[ISBN]/history</p>
  <li *ngIf="role == null">
    Login with a member account on the following link:
    <button routerLink="/login">Login</button>
  </li>
  <li *ngIf="role != null && (role != 'librarian')">
    Because you are logged in with an account, but not with a librarian, you should click following link:
    <button routerLink="/logout">Logout</button><br>
    Next, you should login with a librarian account.
  </li>
  <li>When you are logged in correctly, go to the <button routerLink="/books">Books</button> overview <br> by pressing previous button or the button on the top of your screen.</li>
  <li>Now choose a random book, click on its details button.</li>
  <li>On the next screen you will see the button "HISTORY" press this button.</li>
  <li>If everything works fine AND the book was once borrowed & returned, you should get the wanted result.</li>

  <h2>Only possible when logged in with a real librarian account.</h2>
</div>
